<a href="https://colab.research.google.com/github/ArnavBais/3110/blob/main/helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [2]:
print ("hello world")

hello world

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=10
b=9
if b > a:
  print("b is greater than a")

In [ ]:
a=1
b=6
print(a)
print(b)

1
6

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry